// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------

// SEÇÃO 1 - HEADER + SHOWCASE

.section1 {
  background-color: #66acf9;
}

// SHOWCASE

.showcase__bg {
  width: 100%;
}

.showcase__bg--mobile {
  width: 100%;
  display: none;
}

@media (max-width: 600px) {
  .showcase__bg {
    display: none;
  }

  .showcase__bg--mobile {
    display: block;
  }
}

.showcase__paragraph {
  text-align: center;
  margin: 0;
  padding: 20px;
  font-size: 18px;
}

.showcase__link {
  text-decoration: none;
  font-weight: bold;
  color: $dark-color;
}

// SEÇÃO 2 - CARROSSEL + PROGRAMAÇÃO

.section2 {
  position: relative;
  overflow: hidden;
  max-width: 100%;
}

.carousel__container {
  position: absolute;
  top: 6%;
}

@media (max-width: 600px) {
  .carousel__container {
    top: 4%;
  }
  .carousel__bg-container {
    display: flex;
    justify-content: center;
  }
}
// O carousel-container foi feito pra colocar o carousel por cima do background - coisa de preta -. Ele está ali só pra levar as cards pro topo

.carousel {
  position: relative;
  width: 93%;
  margin: 0 auto;
}

@media (max-width: 600px) {
  .carousel {
    width: 98%;
  }
}

.schedule {
  margin-top: 66px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 1166px;
  padding-left: 1rem;
  padding-right: 1rem;
}

.schedule__title {
  text-transform: uppercase;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 32px;
}

@media (max-width: 600px) {
  .schedule__title {
    text-align: center;
  }
}
