// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------

// Section 1 - Header + showcase

.section1 {
  //   height: 50vh;
  background-color: #66acf9;
}

// SHOWCASE

.showcase img {
  width: 100%;
}

.showcase p {
  font-weight: bold;
  text-align: center;
  margin: 0;
  padding: 16px;

  a {
    color: $dark-color;
  }
}

//2ª sessão, coisa de preta + carousel + boxes

.section2 {
  position: relative;
}

.coisadepreta {
  font-size: 120px;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  line-height: 1;
}

.carousel-container {
  position: absolute;
  top: 8%;
}
// O carousel-container foi feito pra colocar o carousel por cima do "coisa de preta". Ele tá ali só pra levar as cards pro topo

.carousel {
  position: relative;
  width: 90%;
  margin: 0 auto;
}

.schedule {
  margin-top: 66px;
  margin-left: 140px;
}

.program {
  text-transform: uppercase;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 32px;
}
