.main-header {
  display: flex;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}

.main-header__logo-container {
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  background-color: #302e31;
  max-width: 327px;
  width: 100%;
}

.main-header__logo-img {
  margin: 0 auto;
  display: block;
}

.main-header__logo-img--mobile {
  display: none;
}

.main-header__content {
  width: 100%;
  max-width: 1113px;
  display: flex;
}

.main-header__content-left {
  padding-left: 36px;
  padding-right: 36px;
  padding-top: 30px;
  padding-bottom: 30px;
  width: 100%;
  max-width: 304px;

  .main-header__title {
    margin: 0;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 36px;
    text-transform: uppercase;
    color: #fdf8e5;
  }
}

.main-header__content-right {
  position: relative;
  padding-left: 150px;
  padding-right: 126px;
  padding-top: 36px;
  padding-bottom: 24px;
  text-align: right;
  font-style: normal;
  color: #302e31;

  .main-header__msg-balloon {
    position: absolute;
    top: 0;
    left: 0;
  }

  .main-header__date {
    font-weight: bold;
    font-size: 36px;
    line-height: 100%;
    text-transform: uppercase;
    margin: 0;
  }

  .main-header__description {
    font-weight: 300;
    font-size: 19px;
    line-height: 100%;
    margin: 0;
    margin-top: 12px;
  }

  .main-header__description--cta {
    font-weight: bold;
    margin-top: 6px;
  }
}

// @media queries ~~

@media (max-width: 1280px) {
  .main-header__content-right {
    position: static;

    .main-header__msg-balloon {
      left: 40%;
    }
  }
}

@media (max-width: 1080px) {
  .main-header__content-right {
    padding-left: 60px;
    padding-right: 20px;
  }
}

@media (max-width: 900px) {
  .main-header__logo-container {
    display: flex;

    .main-header__logo-img {
      align-self: center;
    }
  }

  .main-header__content-left {
    .main-header__title {
      line-height: 42px;
      font-size: 34px;
    }
  }

  .main-header__content-right {
    padding-left: 0px;
    padding-right: 20px;
    text-align: center;

    .main-header__msg-balloon {
      display: none;
    }

    .main-header__date {
      font-size: 26px;
    }

    .main-header__description {
      font-size: 16px;
    }

    .main-header__description--cta {
      font-size: 17px;
    }
  }
}

@media (max-width: 600px) {
  .main-header__logo-container {
    max-width: 117px;
  }

  .main-header__logo-img {
    display: none;
  }

  .main-header__logo-img--mobile {
    display: block;
  }

  .main-header__content {
    max-width: 283px;
    flex-direction: column;
    padding: 4px 8px;
  }

  .main-header__content-left {
    padding-top: 20px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 8px;
    .main-header__title {
      font-size: 20px;
      line-height: 22px;
      text-align: center;
      br {
        display: none;
      }
    }
  }

  .main-header__content-right {
    padding-top: 8px;
    padding-bottom: 8px;
    text-align: center;

    .main-header__date {
      font-size: 20px;
    }
    .main-header__description {
      padding-bottom: 8px;
    }
  }
}
