.main-header {
  display: flex;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}

.main-header__logo-container {
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  background-color: #302e31;
  max-width: 327px;
  width: 100%;
}

.main-header__logo-img {
  margin: 0 auto;
  display: block;
}

.main-header__content {
  width: 100%;
  max-width: 1113px;
  display: flex;
}

.main-header__content-left {
  padding-left: 36px;
  padding-right: 36px;
  padding-top: 30px;
  padding-bottom: 30px;
  width: 100%;
  max-width: 304px;

  .main-header__title {
    margin: 0;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 36px;
    text-transform: uppercase;
    color: #fdf8e5;
  }
}

.main-header__content-right {
  position: relative;
  padding-left: 134px;
  padding-right: 126px;
  padding-top: 36px;
  padding-bottom: 24px;
  text-align: right;
  font-style: normal;
  color: #302e31;

  .main-header__msg-balloon {
    position: absolute;
    top: 0;
    left: 0;
  }

  .main-header__date {
    font-weight: bold;
    font-size: 36px;
    line-height: 100%;
    text-transform: uppercase;
    margin: 0;
  }

  .main-header__description {
    font-weight: 300;
    font-size: 19px;
    line-height: 100%;
    margin: 0;
    margin-top: 12px;
  }

  .main-header__description--cta {
    font-weight: bold;
    margin-top: 6px;
  }
}
