.boxes-container {
  display: flex;
}

.box {
  width: 300px;
  margin-right: 35px;
  margin-bottom: 100px;
}

.box--yellow {
  border-left: 8px solid $tertiary-color;
  padding-left: 15px;
}

.box--brown {
  border-left: 8px solid $quinary-color;
  padding-left: 15px;
}

.box--blue {
  border-left: 8px solid $primary-color;
  padding-left: 15px;
}

.box-baloon {
  background: $dark-color;
  position: relative;
  width: 250px;
  height: 100px;
  p {
    margin: 0;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    color: $light-color;
  }

  h1 {
    margin: 0;
    color: $secondary-color;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 2px;
    padding-bottom: 10px;
  }
}

.box-baloon:after {
  position: absolute;
  width: 0px;
  height: 0px;
  border: 20px solid transparent;
  border-top-color: $dark-color;
  border-left-color: $dark-color;
  content: "";
  top: 100%;
  left: 10%;
}

.box-body {
  width: 250px;
}

.box-title {
  margin-top: 45px;
}

.box-subtitle {
}

.box-description {
}
