.box__container {
  display: flex;
  justify-content: space-between;
}

.box {
  max-width: 325px;
  width: 100%;
  margin-right: 35px;
  margin-bottom: 100px;
}

.box--yellow {
  border-left: 8px solid $tertiary-color;
  padding-left: 15px;
}

.box--brown {
  border-left: 8px solid $quinary-color;
  padding-left: 15px;
}

.box--blue {
  border-left: 8px solid $primary-color;
  padding-left: 15px;
}

.box__baloon {
  background: $dark-color;
  position: relative;
  max-width: 325px;
  width: 100%;
  min-height: 110px;
  p {
    margin: 0;
    padding: 10px 10px 5px;
    color: $light-color;
  }
}

.box__baloon:after {
  position: absolute;
  width: 0px;
  height: 0px;
  border: 20px solid transparent;
  border-top-color: $dark-color;
  border-left-color: $dark-color;
  content: "";
  top: 100%;
  left: 10%;
}

.box__title {
  margin: 0;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 2px;
  padding-bottom: 10px;
  text-transform: uppercase;
  line-height: 24px;
  font-size: 21px;
  color: $secondary-color;
}

.box__title--yellow {
  color: $tertiary-color;
}

.box__title--green {
  color: $quaternary-color;
}

.box__body {
  max-width: 325px;
  width: 100%;
}

.box__subtitle1 {
  margin-top: 52px;
  font-size: 18px;
  line-height: 24px;
}

.box__subtitle2 {
  font-size: 18px;
}

.box__description {
  font-size: 16px;
  line-height: 22px;
}

@media (max-width: 600px) {
  .box__container {
    flex-direction: column;
    align-items: center;
  }
  .box {
    margin-bottom: 48px;
    margin-right: 0px;
  }

  .box__baloon {
    max-width: 250px;
  }

  .box__baloon--mobile {
    min-height: 90px;
  }

  .box__body {
    max-width: 250px;
  }

  .box__subtitle1 {
    line-height: 22px;
  }
}
