// -----------------------------------------------------------------------------
// This file contains all styles related to the button component.
// -----------------------------------------------------------------------------

.btn {
  border: none;
  text-decoration: none;
  cursor: pointer;
  padding: 10px 20px;
  border-radius: 5px;
  background: $primary-color;
  color: $secondary-color;
}

.btn:hover {
  // color: $dark-color;
  text-decoration: none;
}

// Carousel Button

.carousel__button {
  position: absolute;
  top: 20%;
  background: rgba(237, 237, 237, 0.5);
  border: 0;
  cursor: pointer;
  z-index: 1;
  padding: 16px 8px;
}

.carousel__button-img {
  width: 12px;
}

.carousel__button--left {
  left: 6%;
}

.carousel__button--right {
  right: 3%;
}

@media (max-width: 600px) {
  .carousel__button {
    top: 15%;
  }

  .carousel__button--left {
    left: 2%;
  }

  .carousel__button--right {
    right: 6%;
  }
}

// footer buttons

.main-footer__btn {
  border: none;
  border-radius: 0;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
  display: inline-block;
}

.main-footer__btn--btn-left {
  margin-top: 15px;
  padding: 8px 32px;
  background: $dark-color;
  color: $tertiary-color;
}

.main-footer__btn--btn-right {
  margin-top: 5px;
  margin-right: 8px;
  padding: 8px 16px;
  background: $quaternary-color;
  color: #f4f4f4;
  font-weight: bold;
}

@media (max-width: 600px) {
  .main-footer__btn {
    font-size: 12px;
  }

  .main-footer__btn--btn-left {
    margin-top: 4px;
    padding: 8px 28px;
  }

  .main-footer__btn--btn-right {
    margin-top: 4px;
    margin-right: auto;
    margin-left: auto;
    padding: 4px 8px;
  }

  .main-footer__btn--btn-mobile {
    margin-top: 12px;
  }
}
