.card__container {
  display: flex;
  transform: translateX(0);
  transition: transform 0.5s ease-in-out;
  // o transform e o transition daqui são pro java script... pro carousel rodar smoothly
}

.card {
  background: $primary-color;
  border-radius: 0.2rem;
  position: relative;
  width: 280px;
  height: 425px;
  margin: 1rem;
  transition: 250ms all ease-in-out;
}

@media (max-width: 600px) {
  .card {
    width: 210px;
    height: 410px;
  }
}

.card:after {
  position: absolute;
  width: 0px;
  height: 0px;
  border: 20px solid transparent;
  border-top-color: $primary-color;
  border-left-color: $primary-color;
  content: "";
  top: 100%;
  left: 10%;
}

.card:hover {
  transform: scale(1.05);
}

.card__head {
  margin: 1rem;
}

.card__photo {
  width: 100%;
}

.card__body {
  margin: 1rem 1rem 1rem 1rem;
}

.card__title {
  font-size: 19px;
  line-height: 1.5rem;
  margin-bottom: 0;
  font-weight: bold;
}

.card__subtitle {
  font-size: 14px;
  font-weight: 500;
  color: $tertiary-color;
  margin-top: 0;
  margin-bottom: 0;
}

.card__description {
  color: $dark-color;
  font-size: 16px;
  text-align: left;
  height: 164px;
}

@media (max-width: 600px) {
  .card__description {
    font-size: 14px;
  }
}

.card__description--gaby {
  height: 150px;
}

.card__button {
  background: transparent;
  padding: 0;
  color: $tertiary-color;
}

.card__button:hover {
  color: $tertiary-hover;
}

// Cores e backgrounds

.card--pink {
  background-color: $secondary-color;
}

.card--pink:after {
  border-top-color: $secondary-color;
  border-left-color: $secondary-color;
}

.card--yellow {
  background: $tertiary-color;
}

.card--yellow:after {
  border-top-color: $tertiary-color;
  border-left-color: $tertiary-color;
}

.card--green {
  background-color: $quaternary-color;
}

.card--green:after {
  border-top-color: $quaternary-color;
  border-left-color: $quaternary-color;
}

.card__button--green {
  color: $quaternary-color;
}

.card__button--green:hover {
  color: $quaternary-hover;
}
