/**
 * Set up a decent box model on the root element
 */
html {
  box-sizing: border-box; }

body {
  margin: 0;
  padding: 0; }

/**
 * Make all elements from the DOM inherit from the parent box-sizing
 * Since `*` has a specificity of 0, it does not override the `html` value
 * making all elements inheriting from the root box-sizing value
 * See: https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
 */
*,
*::before,
*::after {
  box-sizing: inherit; }

/**
 * Basic styles for links
 */
@font-face {
  font-family: 'founders_grotesk_text';
  src: url("../fonts/FoundersGroteskRegular.woff2") format("woff2"), url("../fonts/FoundersGroteskRegular.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'founders_grotesk_text';
  src: url(":/fonts/FoundersGroteskText-Light.woff2") format("woff2"), url("../fonts/FoundersGroteskText-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'founders_grotesk_text';
  src: url("../fonts/FoundersGroteskText-Bold.woff2") format("woff2"), url("../fonts/FoundersGroteskText-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap; }

/**
 * Basic typography style for copy text
 */
body * {
  font-family: Founders Grotesk Text; }

/**
 * Clear inner floats
 */
.clearfix::after {
  clear: both;
  content: "";
  display: table; }

/**
 * Main content containers
 * 1. Make the container full-width with a maximum width
 * 2. Center it in the viewport
 * 3. Leave some space on the edges, especially valuable on small screens
 */
.container {
  max-width: 1180px;
  /* 1 */
  margin-left: auto;
  /* 2 */
  margin-right: auto;
  /* 2 */
  padding-left: 20px;
  /* 3 */
  padding-right: 20px;
  /* 3 */
  width: 100%;
  /* 1 */ }

/**
 * Hide text while making it readable for screen readers
 * 1. Needed in WebKit-based browsers because of an implementation bug;
 *    See: https://code.google.com/p/chromium/issues/detail?id=457146
 */
.hide-text {
  overflow: hidden;
  padding: 0;
  /* 1 */
  text-indent: 101%;
  white-space: nowrap; }

/**
 * Hide element while making it readable for screen readers
 * Shamelessly borrowed from HTML5Boilerplate:
 * https://github.com/h5bp/html5-boilerplate/blob/master/src/css/main.css#L119-L133
 */
.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

.pink {
  color: #cd969e; }

.green {
  color: #4e9961; }

.yellow {
  color: #f1cd00; }

.main-header {
  display: flex;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto; }

.main-header__logo-container {
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  background-color: #302e31;
  max-width: 327px;
  width: 100%; }

.main-header__logo-img {
  margin: 0 auto;
  display: block; }

.main-header__logo-img--mobile {
  display: none; }

.main-header__content {
  width: 100%;
  max-width: 1113px;
  display: flex; }

.main-header__content-left {
  padding-left: 36px;
  padding-right: 36px;
  padding-top: 30px;
  padding-bottom: 30px;
  width: 100%;
  max-width: 304px; }
  .main-header__content-left .main-header__title {
    margin: 0;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 36px;
    text-transform: uppercase;
    color: #fdf8e5; }

.main-header__content-right {
  position: relative;
  padding-left: 150px;
  padding-right: 126px;
  padding-top: 36px;
  padding-bottom: 24px;
  text-align: right;
  font-style: normal;
  color: #302e31; }
  .main-header__content-right .main-header__msg-balloon {
    position: absolute;
    top: 0;
    left: 0; }
  .main-header__content-right .main-header__date {
    font-weight: bold;
    font-size: 36px;
    line-height: 100%;
    text-transform: uppercase;
    margin: 0; }
  .main-header__content-right .main-header__description {
    font-weight: 300;
    font-size: 19px;
    line-height: 100%;
    margin: 0;
    margin-top: 12px; }
  .main-header__content-right .main-header__description--cta {
    font-weight: bold;
    margin-top: 6px; }

@media (max-width: 1280px) {
  .main-header__content-right {
    position: static; }
    .main-header__content-right .main-header__msg-balloon {
      left: 40%; } }

@media (max-width: 1080px) {
  .main-header__content-right {
    padding-left: 60px;
    padding-right: 20px; } }

@media (max-width: 900px) {
  .main-header__logo-container {
    display: flex; }
    .main-header__logo-container .main-header__logo-img {
      align-self: center; }
  .main-header__content-left .main-header__title {
    line-height: 42px;
    font-size: 34px; }
  .main-header__content-right {
    padding-left: 0px;
    padding-right: 20px;
    text-align: center; }
    .main-header__content-right .main-header__msg-balloon {
      display: none; }
    .main-header__content-right .main-header__date {
      font-size: 26px; }
    .main-header__content-right .main-header__description {
      font-size: 16px; }
    .main-header__content-right .main-header__description--cta {
      font-size: 17px; } }

@media (max-width: 600px) {
  .main-header__logo-container {
    max-width: 117px; }
  .main-header__logo-img {
    display: none; }
  .main-header__logo-img--mobile {
    display: block; }
  .main-header__content {
    max-width: 283px;
    flex-direction: column;
    padding: 4px 8px; }
  .main-header__content-left {
    padding-top: 20px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 8px; }
    .main-header__content-left .main-header__title {
      font-size: 20px;
      line-height: 22px;
      text-align: center; }
      .main-header__content-left .main-header__title br {
        display: none; }
  .main-header__content-right {
    padding-top: 8px;
    padding-bottom: 8px;
    text-align: center; }
    .main-header__content-right .main-header__date {
      font-size: 20px; }
    .main-header__content-right .main-header__description {
      padding-bottom: 8px; } }

.main-footer {
  display: flex; }

.main-footer__content {
  width: 50%;
  color: #fdf8e5;
  text-align: center;
  padding: 24px;
  text-transform: uppercase;
  font-size: 15px; }

.main-footer__content--left {
  background: #94693c; }

.main-footer__content--right {
  background: #302e31; }

.main-footer__title {
  margin: 0;
  font-size: 36px;
  font-family: Founders Grotesk Text; }

.main-footer__paragraphs {
  margin: 0;
  font-size: 18px;
  font-weight: 300; }

.main-footer__paragraphs--right-cta {
  margin-top: 8px;
  margin-bottom: 12px; }

@media (max-width: 600px) {
  .main-footer__content {
    padding: 8px;
    font-size: 14px; }
  .main-footer__title {
    font-size: 18px;
    margin: 6px 0px;
    line-height: 100%; }
  .main-footer__paragraphs {
    font-size: 11px;
    margin: 4px 0px; }
  .main-footer__paragraphs--right-cta {
    margin-top: 8px;
    margin-bottom: 10px; } }

.btn {
  border: none;
  text-decoration: none;
  cursor: pointer;
  padding: 10px 20px;
  border-radius: 5px;
  background: #66acf9;
  color: #cd969e; }

.btn:hover {
  text-decoration: none; }

.carousel__button {
  position: absolute;
  top: 20%;
  background: rgba(237, 237, 237, 0.5);
  border: 0;
  cursor: pointer;
  z-index: 1;
  padding: 16px 8px; }

.carousel__button-img {
  width: 12px; }

.carousel__button--left {
  left: 6%; }

.carousel__button--right {
  right: 3%; }

@media (max-width: 600px) {
  .carousel__button {
    top: 15%; }
  .carousel__button--left {
    left: 2%; }
  .carousel__button--right {
    right: 6%; } }

.main-footer__btn {
  border: none;
  border-radius: 0;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
  display: inline-block; }

.main-footer__btn--btn-left {
  margin-top: 15px;
  padding: 8px 32px;
  background: #302e31;
  color: #f1cd00; }

.main-footer__btn--btn-right {
  margin-top: 5px;
  margin-right: 8px;
  padding: 8px 16px;
  background: #4e9961;
  color: #f4f4f4;
  font-weight: bold; }

@media (max-width: 600px) {
  .main-footer__btn {
    font-size: 12px; }
  .main-footer__btn--btn-left {
    margin-top: 4px;
    padding: 8px 28px; }
  .main-footer__btn--btn-right {
    margin-top: 4px;
    margin-right: auto;
    margin-left: auto;
    padding: 4px 8px; }
  .main-footer__btn--btn-mobile {
    margin-top: 12px; } }

.card__container {
  display: flex;
  transform: translateX(0);
  transition: transform 0.5s ease-in-out; }

.card {
  background: #66acf9;
  border-radius: 0.2rem;
  position: relative;
  width: 280px;
  height: 425px;
  margin: 1rem;
  transition: 250ms all ease-in-out; }

@media (max-width: 600px) {
  .card {
    width: 210px;
    height: 410px; } }

.card:after {
  position: absolute;
  width: 0px;
  height: 0px;
  border: 20px solid transparent;
  border-top-color: #66acf9;
  border-left-color: #66acf9;
  content: "";
  top: 100%;
  left: 10%; }

.card:hover {
  transform: scale(1.05); }

.card__head {
  margin: 1rem; }

.card__photo {
  width: 100%; }

.card__body {
  margin: 1rem 1rem 1rem 1rem; }

.card__title {
  font-size: 19px;
  line-height: 1.5rem;
  margin-bottom: 0;
  font-weight: bold; }

.card__subtitle {
  font-size: 14px;
  font-weight: 500;
  color: #f1cd00;
  margin-top: 0;
  margin-bottom: 0; }

.card__description {
  color: #302e31;
  font-size: 16px;
  text-align: left;
  height: 164px; }

@media (max-width: 600px) {
  .card__description {
    font-size: 14px; } }

.card__description--gaby {
  height: 150px; }

.card__button {
  background: transparent;
  padding: 0;
  color: #f1cd00; }

.card__button:hover {
  color: #f1ad00; }

.card--pink {
  background-color: #cd969e; }

.card--pink:after {
  border-top-color: #cd969e;
  border-left-color: #cd969e; }

.card--yellow {
  background: #f1cd00; }

.card--yellow:after {
  border-top-color: #f1cd00;
  border-left-color: #f1cd00; }

.card--green {
  background-color: #4e9961; }

.card--green:after {
  border-top-color: #4e9961;
  border-left-color: #4e9961; }

.card__button--green {
  color: #4e9961; }

.card__button--green:hover {
  color: #56c773; }

.box__container {
  display: flex;
  justify-content: space-between; }

.box {
  max-width: 325px;
  width: 100%;
  margin-right: 35px;
  margin-bottom: 100px; }

.box--yellow {
  border-left: 8px solid #f1cd00;
  padding-left: 15px; }

.box--brown {
  border-left: 8px solid #94693c;
  padding-left: 15px; }

.box--blue {
  border-left: 8px solid #66acf9;
  padding-left: 15px; }

.box__baloon {
  background: #302e31;
  position: relative;
  max-width: 325px;
  width: 100%;
  min-height: 110px; }
  .box__baloon p {
    margin: 0;
    padding: 10px 10px 5px;
    color: #fdf8e5; }

.box__baloon:after {
  position: absolute;
  width: 0px;
  height: 0px;
  border: 20px solid transparent;
  border-top-color: #302e31;
  border-left-color: #302e31;
  content: "";
  top: 100%;
  left: 10%; }

.box__title {
  margin: 0;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 2px;
  padding-bottom: 10px;
  text-transform: uppercase;
  line-height: 24px;
  font-size: 21px;
  color: #cd969e; }

.box__title--yellow {
  color: #f1cd00; }

.box__title--green {
  color: #4e9961; }

.box__body {
  max-width: 325px;
  width: 100%; }

.box__subtitle1 {
  margin-top: 52px;
  font-size: 18px;
  line-height: 24px; }

.box__subtitle2 {
  font-size: 18px; }

.box__description {
  font-size: 16px;
  line-height: 22px; }

@media (max-width: 600px) {
  .box__container {
    flex-direction: column;
    align-items: center; }
  .box {
    margin-bottom: 48px;
    margin-right: 0px; }
  .box__baloon {
    max-width: 250px; }
  .box__baloon--mobile {
    min-height: 90px; }
  .box__body {
    max-width: 250px; }
  .box__subtitle1 {
    line-height: 22px; } }

.section1 {
  background-color: #66acf9; }

.showcase__bg {
  width: 100%; }

.showcase__bg--mobile {
  width: 100%;
  display: none; }

@media (max-width: 600px) {
  .showcase__bg {
    display: none; }
  .showcase__bg--mobile {
    display: block; } }

.showcase__paragraph {
  text-align: center;
  margin: 0;
  padding: 20px;
  font-size: 18px; }

.showcase__link {
  text-decoration: none;
  font-weight: bold;
  color: #302e31; }

.section2 {
  position: relative;
  overflow: hidden;
  max-width: 100%; }

.carousel__container {
  position: absolute;
  top: 6%; }

@media (max-width: 600px) {
  .carousel__container {
    top: 4%; }
  .carousel__bg-container {
    display: flex;
    justify-content: center; } }

.carousel {
  position: relative;
  width: 93%;
  margin: 0 auto; }

@media (max-width: 600px) {
  .carousel {
    width: 98%; } }

.schedule {
  margin-top: 66px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 1166px;
  padding-left: 1rem;
  padding-right: 1rem; }

.schedule__title {
  text-transform: uppercase;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 32px; }

@media (max-width: 600px) {
  .schedule__title {
    text-align: center; } }
